[submodule "flip_simulation"]
	path = flip_simulation
	url = git@github.com:SysKui/flip_simulation.git
[submodule "lava"]
	path = lava
	url = git@github.com:SysKui/lava.git
[submodule "lava-docker"]
	path = lava-docker
	url = git@github.com:SysKui/lava-docker.git
